@use '@/app/styles/utils/breakpoints' as breakpoints;

.numberCell {
  cursor: pointer;
}

.value {
  font-size: 14px;
  color: var(--black);
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  user-select: none;

  @include breakpoints.tablet {
    font-size: 13px;
  }
}
