@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.accountUsernameCell {
  display: flex;
  align-items: center;
  gap: 4px;
  min-height: 50px;

  padding: 12px 8px;

  @include breakpoints.tablet {
    padding: 10px 4px;
  }
}

.text {
  flex: 1 1 auto;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;

  color: var(--black);

  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;

  @include breakpoints.tablet {
    font-size: 13px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1 / 1;
}
