.saveReset{
  display: flex;
  align-items: center;
  gap: 8px;
  .button{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #EBECFF;
    background-color: white;
    padding: 8px 16px;
    flex: 0 0 auto;
    height: 38px;
    p{
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}