@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 8px;
  border-radius: 8px;
  border: 1px solid var(--gradient);
  background: var(--light-blue);
}

.title {
  font-size: 10px;
  font-weight: 500;
  color: var(--gray-dark);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.value {
  display: flex;
  align-items: center;
  gap: 4px;
}

.label {
  font-size: 9px;
  font-weight: 400;
  color: var(--gray-dark);
}

.text {
  font-size: 9px;
  font-weight: 500;
  color: var(--gray-dark);
}
