@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.layout {
  font-family: Inter, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
