@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.header {
  display: flex;

  font-size: 12px;
  color: var(--black);

  @include breakpoints.mobile {
    font-size: 11px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;

  @include breakpoints.mobile {
    flex-direction: row;
    gap: 3px;
  }
}

.label {
  font-weight: 500;
}
