@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.filterBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  overflow-x: auto;
  overflow-y: hidden;

  flex-wrap: nowrap;
  white-space: nowrap;

  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.button {
  flex-shrink: 0;
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px 32px;

  border-radius: 9999px;
  border: 1px solid var(--white-gray-20);
  background: var(--white-50);
  backdrop-filter: blur(1.5px) contrast(1.08) saturate(1.2);
  -webkit-backdrop-filter: blur(1.5px) contrast(1.08) saturate(1.2);

  overflow: hidden;

  @include breakpoints.tablet {
    padding: 8px 16px;
    gap: 8px;
  }
}
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: var(--brightest-gradient);
  opacity: 0;
  transition: opacity var(--transition-base);
  z-index: 0;
}
.button > * {
  position: relative;
  z-index: 1;
}
.active::before {
  opacity: 1;
}

.icon {
  width: 22px;
  height: 22px;
  aspect-ratio: 1 / 1;

  @include breakpoints.tablet {
    width: 20px;
    height: 20px;
  }

  @include breakpoints.mobile {
    width: 18px;
    height: 18px;
  }
}

.label {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  @include breakpoints.tablet {
    font-size: 12px;
  }
}
