@use '@/app/styles/utils/breakpoints' as breakpoints;

.breadcrumbs {}

.list {
  display: flex;
  gap: 8px;
  align-items: center;

  @include breakpoints.tablet {
    gap: 0;
  }
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;

  @include breakpoints.tablet {
    gap: 0;
  }
}

.link {
  @include breakpoints.tablet {
    font-size: 13px;
  }
}

.current {
  user-select: none;

  @include breakpoints.tablet {
    font-size: 13px;
  }
}

.icon {
  @include breakpoints.tablet {
    width: 20px;
    height: 20px;
  }
}
