.internal{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #EBECFF;
  max-width: 195px;
  width: 100%;
  padding: 8px 16px;
  height: 38px;
  p{
    font-size: 15px;
  }
}