@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.btn {
  @include mixins.reset-button;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;

  border-radius: 4px;
  border: 1px solid transparent;
  background:
    linear-gradient(#F3F8FF, #F3F8FF) padding-box,
    linear-gradient(180deg, #EBECFF 0%, #DFF0FF 100%) border-box;

  opacity: 1;
  transition: opacity var(--transition-base);

  font-size: 14px;
  color: var(--black);

  @include breakpoints.tablet {
    font-size: 13px;
  }

  @include mixins.hover {
    opacity: 0.7;
  }
}
