@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.accountCell {
  align-items: center;
  gap: 4px;
}

.icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1 / 1;
}
