@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;

  border-radius: 8px;
  border: 1px solid transparent;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #ebecff 0%, #dff0ff 100%) border-box;

  @include breakpoints.mobile {
    gap: 16px;
    padding: 12px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  font-size: 14px;
  color: var(--black);

  @include breakpoints.mobile {
    gap: 16px;
    font-size: 13px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include breakpoints.mobile {
    gap: 4px;
  }
}
