@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.root {
  display: block;
  min-width: 0;
  width: 100%;

  user-select: none;
  cursor: pointer;
}

.textInput {
  width: 100%;
  min-width: 0;
  max-width: 100%;
  text-align: end;
}
