@use "@/app/styles/utils/mixins" as mixins;
@use '@/app/styles/utils/breakpoints' as breakpoints;

.clientsInvoicesPage {
  padding-block: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include breakpoints.tablet {
    padding-block: 16px;
    gap: 24px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include breakpoints.tablet {
    gap: 24px;
  }

  @include breakpoints.mobile {
    gap: 16px;
  }
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include breakpoints.mobile {
    gap: 16px;
  }
}
