@use '@/app/styles/utils/breakpoints' as breakpoints;

.pricingFields {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include breakpoints.mobile {
    gap: 4px;
  }
}

.priceLabel {
  color: var(--gray-dark);
  font-size: var(--text-md);

  transition: color var(--transition-base);
}

.priceLabelError {
  color: var(--error);
}
