.shareLink{
  display: flex;
  height: 36px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #EBECFF;
  background: white;
}