@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;
@use '@/app/styles/utils/variables' as vars;

.campaignActionsCell {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  padding: 10px 8px;
}

.btn {
  @include mixins.reset-button;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-radius: 4px;

  border: 1px solid transparent;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(0deg, #cfefff 0%, #b7c8ff 100%) border-box;

  @include breakpoints.tablet {
    padding: 4px 8px;
  }
}

.icon {
  width: 18px;
  height: 18px;
  aspect-ratio: 1 / 1;
}
