.cell {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 4px;
  min-height: 54px;

  font-size: 14px;
  font-weight: 400;
  color: var(--black);

  white-space: normal;
  word-break: break-word;
  //overflow: hidden;
  //text-overflow: ellipsis;
}

.emailCell {
  word-break: break-word;
}

.numberCell {
  justify-content: center;
}
