@use '@/app/styles/utils/breakpoints' as breakpoints;

.cell {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  min-height: 54px;

  font-size: 14px;
  font-weight: 400;
  color: var(--black);

  white-space: normal;
  word-break: break-word;

  @include breakpoints.tablet {
    padding: 8px 4px;
    font-size: 13px;
    min-height: 50px;
  }
}

.emailCell {
  word-break: break-word;
}

.numberCell {
  justify-content: center;
}
