@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.chevronButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  &:disabled {
    opacity: 0.5;
  }
}

.pageButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;


  border: 1px solid transparent;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(360deg, #cfefff 0%, #b7c8ff 100%) border-box;

  color: var(--gray-dark);
  cursor: pointer;

  transition:
    background var(--transition-base),
    border-color var(--transition-base),
    transform var(--transition-fast);
}

.chevron {
  width: 24px;
  height: 24px;
}

.left {
  transform: rotate(-180deg);
}

.right {

}

.active {
  border: 1px solid var(--blue);
  background: var(--light-blue);
}
