@use '@/app/styles/utils/breakpoints' as breakpoints;

.logo {
  padding: 10px 16px;
  border-radius: 8px;

  border: 1px solid transparent;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(160deg, #cfefff 50%, #b7c8ff 100%) border-box;

  @include breakpoints.tablet {
    >img {
      width: 125px;
    }
  }
}
