.page{
  h2{
    margin: 33px 0px 16px;
    color: #202934;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .content{
    margin-top: 16px;
    display: flex;
    gap: 16px;
    @media (max-width: 900px) {
      flex-direction: column;
    }

  }
}