@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.invoiceParties {
  display: flex;
  justify-content: space-between;
}

.from,
.to {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.to {
  align-items: flex-end;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.listTo {
  align-items: flex-end;
}

.title {
  font-size: 13px;
  font-weight: 400;
}

.label {
  font-size: 10px;
  font-weight: 400;
  color: var(--gray-dark);
}

.blockTitle {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-dark);
}

.contacts {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.contactLabel {
  display: inline-flex;
  align-items: center;
  gap: 2px;

  font-size: 9px;
  font-weight: 400;
}

.contact {
  font-size: 10px;
  font-weight: 400;
  color: var(--gray-dark);
}

.icon {
  width: 14px;
  height: 14px;
  aspect-ratio: 1 / 1;
}
