@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: var(--gray-dark);

  cursor: pointer;
  user-select: none;

  @include breakpoints.mobile {
    font-size: 14px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input[type="checkbox"] {
  @include mixins.reset-input;
  appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid var(--black-blue);
  border-radius: 50%;
  cursor: pointer;
  transition: all var(--transition-base);

  @include breakpoints.mobile {
    margin-top: 1.5px;
    margin-bottom: 1.5px;
  }
}

.input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--black-blue);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--transition-base);
}

.input[type="checkbox"]:checked::after {
  transform: translate(-50%, -50%) scale(1);
}

.children {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.childRow,
.parentRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.parentLabel {
  font-weight: 500;
  font-size: 18px;

  @include breakpoints.mobile {
    font-size: 15px;
  }
}
.creatorItem {
  gap: 12px;
}
.childList {
  gap: 12px;
}
