@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;
@use '@/app/styles/utils/variables' as vars;

.cellNote {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  user-select: none;

  @include breakpoints.tablet {
    font-size: 13px;
  }
}

.action {
  cursor: pointer;
}

.popoverContent {
  outline: none;
  z-index: 100;
}
