@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.influencerAccountForm {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include breakpoints.tablet {
    max-width: 100%;
  }

  @include breakpoints.mobile {
    gap: 24px;
  }
}
