@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.influencerSocialAccounts {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include breakpoints.tablet {
    max-width: 100%;
    gap: 24px;
  }

  @include breakpoints.mobile {
    gap: 16px;
  }
}

.title {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  padding-block: 8px;
  border-bottom: 1px solid var(--blue);
}

.platforms {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
