.cardContainerBlock {
  position: relative;
  width: 100%;
}

.cardsMain {
  flex: 1 1 auto;
  width: 100%;
}

.cardsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: start;
  align-items: start;
  gap: 16px;
}

.viewed {
  display: block;
}

.promosGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
}

.promosGridHeader {
  display: grid;
  grid-template-columns: 27% 110px 100px 1fr 1fr;
  padding: 8px 0;
  font-size: 16px;
  color: #202934;
  font-weight: 400;

  div {
    white-space: nowrap;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 24% 86px 56px 1fr 1fr;

    div {
      font-size: 14px;
    }
  }
}

.center {
  text-align: center;
}

.state {
  width: 100%;
  min-height: 220px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(231, 232, 241, 1);
  border-radius: 12px;
  background: #fff;
  font-size: 16px;
  color: #202934;
}

.updating {
  padding: 8px;
  text-align: center;
}

.moreLoading {
  margin-top: 8px;
  text-align: center;
}