@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.labelMedium {
  font-weight: 500;
}

.value {
  text-align: right;
  white-space: normal;
  word-break: break-word;
}
