@use '@/app/styles/utils/breakpoints' as breakpoints;

.showBtn {
  position: absolute;
  top: 14px;
  right: 16px;

  transition: opacity var(--transition-base);

  &:hover {
    opacity: 0.7;
  }

  @include breakpoints.mobile {
    top: 12px;
  }
}
