@use "@/app/styles/utils/mixins" as mixins;
@use '@/app/styles/utils/breakpoints' as breakpoints;

.cell {
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1 / 1;
}

.text {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}
