@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.clientsPage {
  padding-block: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include breakpoints.tablet {
    padding-block: 16px;
    gap: 24px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include breakpoints.tablet {
    gap: 16px;
  }
}
