@use '@/app/styles/utils/breakpoints' as breakpoints;
@use '@/app/styles/utils/mixins' as mixins;

.wrapper {
  padding: 12px 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #EBECFF 0%, #DFF0FF 100%) border-box;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gridRow {
  display: grid;
  //grid-template-columns: 125px 139px 73px 35px 62px;
  grid-template-columns:
    minmax(125px, 125fr)
    minmax(139px, 139fr)
    minmax(73px, 73fr)
    minmax(35px, 35fr)
    minmax(62px, 62fr);
  align-items: center;
  min-width: 0;
}

.headRow {
  border-bottom: 1px solid var(--gradient);
  padding-bottom: 8px;
}

.headCell {
  font-size: 9px;
  font-weight: 500;
  padding-inline: 4px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cell {
  font-size: 10px;
  font-weight: 400;
  padding-inline: 4px;

  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input {
  text-align: left;
}
.editable {
  border-radius: 2px;
  background: var(--light-blue);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;

  border-top: 1px solid var(--gradient);
  padding-top: 8px;

  font-size: 12px;
  font-weight: 500;
  color: var(--gray-dark);
}
